{% extends 'base.html' %}
{% load static %}


{% block content%}
<div class="bloodbank space">
	<div class="container">
		<h2 class="well"><i class="fa fa-cart-plus" aria-hidden="true"></i>Blood Banks</h2>
		<div class="row">
			 <div class="col-md-3">
				<div class="form-group">
					<label >By District</label>
						<select class="form-control" >
						<option>All</option>
						<option>Kathmandu</option>
						<option>Lalitpur</option>
						<option>Bhaktapur</option>
						</select>
				</div>
			 </div>
			 <div class="col-md-3">
			 	<div class="form-group">
					<label >Blood Bank</label>
						<select class="form-control" >
						<option>All</option>
						<option>Priv.Blood Bank</option>
						<option>Govt.Blood Bank</option>
						</select>
				</div>
			 </div>
			 <div class="col-md-3">
			 	<div class="form-group">
					<label >Search By Institution</label>
						<select class="form-control" >
						<option>All</option>
						<option>Red Cross Society</option>
						<option>Bir Hospital</option>
						<option>Model Hospital</option>
						<option>Teaching Hospital</option>
						<option>Civil Hospital</option>
						</select>
				</div>
			 </div>
			 <div class="col-md-3"><br>
			 	<button type="submit" class="btn btn-success">Search</button>
			 </div>
		</div>
	</div>
	<div class="container">
		 <div class="row">
			<table class="table table-bordered">
				<thead>
				<tr>
				<th>S.No</th>
				<th>District</th>
				<th>Blood Bank Type</th>
				<th>Institution Name</th>
				<th>Landline</th>
				<th>Email</th>
				</tr>
				</thead>
			<tbody id="blood_bank_details_pane">
			{% if not items %}
				<div class = 'alert alert-warning'><p>no items to display	</p></div>
				{% else %}
					{% for item in items %}				
					<tr>
						<td class="number_td" style="width:40px;">{{item.id}}</td>
						<td class="text_td">{{item.District}}</td>
						<td class="text_td">{{item.institution_name}}</td>
						<td class="text_td">{{item.Institution_name}}</td>
						<td class="text_td">{{item.Landline}}</td>
						<td class="text_td">{{item.Email}}</td>
					</tr>
					{% endfor %}
				{% endif %}                                       
			</tbody>
			</table>
		 </div>
	</div>
</div>
{% endblock %}